<div class="alert alert-danger mb-3 rounded-3">
  <div class="alert-heading h4">
    <%= t "nouns.error" %>
  </div>

  <ul class="mb-0">
    <% @errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
</div>
