<div class="<%= class_names("card bg-error", class_name) %>" role="alert">
  <div class="card-body">
    <div class="text-lg font-bold">
      <%= t "nouns.error" %>
    </div>

    <ul class="list-inside list-disc">
      <% @errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
