.DS_Store

/.bundle
/.claude/settings.local.json
/.devcontainer
/.env.*.local
/.env.local
/.idea
/.vscode
/app/assets/builds/*
/bin/sync
/config/master.key
/docker-compose.override.yml
/lib/tasks/dev.rake
/log/*
/node_modules
/private
/public/uploads/*
/tmp/*
/vendor/bundle
/yarn-error.log
!/app/assets/builds/.keep
