version: "3.8"

services:
  postgresql:
    image: postgres:15.1
    ports:
      - 5432:5432
    volumes:
      - postgresql_data:/var/lib/postgresql/data:delegated
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust

  redis_cache:
    image: redis:7.0
    ports:
      - 16379:6379
    volumes:
      - redis_cache_data:/data

volumes:
  postgresql_data:
  redis_cache_data:
