<div class="flex justify-between items-center">
  <%= render Buttons::StampButtonComponent.new(post:, stamp_checker:) %>

  <% if signed_in? && current_actor!.atname == post.profile.atname %>
    <%= render Dropdowns::PostOptionsDropdownComponent.new(post:) %>
  <% end %>
</div>
