<div class="c-content-card border-0 card rounded-4">
  <div class="card-body">
    <div class="fw-bold small text-muted">
      <i class="bi bi-repeat"></i>

      <span class="ms-1">
        <%= t("messages.posts.profile_reposted_html", atname: profile.atname, name: profile.name_or_atname) %>
      </span>
    </div>

    <%= render Cards::PostCardComponent.new(post: target_post) %>
  </div>
</div>
