package link

import (
	"github.com/mewstcom/mewst/go/internal/templates/components"
	"github.com/mewstcom/mewst/go/internal/viewmodel"
)

// CreatePageDataは紐付け済みリンクカードのフラグメントのデータを保持する。
type CreatePageData struct {
	Link viewmodel.Link
}

// Createは紐付け済みリンクカードのフラグメント (Railsのlinks/create/call
// ビュー) を描画する。マークアップ本体はcomponents.AttachedLinkCardにあり、
// 投稿フォームの422再描画でも同じコンポーネントを使う。フラグメントは
// #link-formコンテナにスワップされる。
templ Create(data CreatePageData) {
	@components.AttachedLinkCard(data.Link)
}
