<%= tag.div(class: class_name, data: { controller: "blank-slate" }) do %>
  <div class="py-5 text-center">
    <div class="c-blank-slate__icon">
      🐈‍⬛
    </div>

    <div class="mt-1">
      <div class="fs-3">
        <%= message %>
      </div>

      <%= content %>
    </div>
  </div>
<% end %>
