<div class="<%= class_name %>">
  <div class="py-4 text-center">
    <div class="text-5xl">
      🐈‍⬛
    </div>

    <div class="mt-4">
      <div class="text-lg">
        <%= message %>
      </div>

      <%= content %>
    </div>
  </div>
</div>
