<% title = t("meta.title.posts.new") %>
<% set_meta_tags(title:) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <div class="container max-w-3xl mx-auto">
    <div class="hidden lg:block">
      <% if @form.with_frame %>
        <turbo-frame id="modal">
          <%= render Modals::PostFormModalComponent.new(form: @form) %>
        </turbo-frame>
      <% else %>
        <%= render Forms::PostFormComponent.new(form: @form) %>
      <% end %>
    </div>
  </div>
<% end %>
