<div
  class="c-follow-button"
  data-action="follow-button#toggle"
  data-controller="follow-button"
  data-follow-button-idname-value="<%= @target_profile.idname %>"
>
  <button
    class="btn btn-primary"
    data-follow-button-target="loading"
    disabled
    type="button"
  >
    <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
    <span class="visually-hidden">Loading...</span>
  </button>

  <button
    class="btn btn-primary"
    data-action="follow-button#follow"
    data-follow-button-target="follow"
    hidden
    type="button"
  >
    <%= t("verbs.follow") %>
  </button>

  <button
    class="btn btn-outline-primary"
    data-action="follow-button#unfollow"
    data-follow-button-target="following"
    hidden
    type="button"
  >
    <%= t("nouns.following") %>
  </button>
</div>
