<div>
  <div>
    <%= t("messages.components.notification_card.stamped") %>
  </div>

  <div class="mt-3">
    <%= link_to profile_post_path(target_post.profile.atname, target_post.id) do %>
      <blockquote class="antialiased border-gray-500 border-l-2 break-words px-4 text-gray-500">
        <%= target_post.content %>
      </blockquote>
    <% end %>
  </div>
</div>
