.u-fake-link {
  color: var(--mst-color-link);
  cursor: pointer;
  text-decoration: $link-decoration;

  &:hover {
    color: var(--mst-color-link-hover);
    text-decoration: $link-hover-decoration;
  }
}
