<%= form_with model: @form, url: sign_in_confirmation_list_path do |f| %>
  <div>
    <%= f.label :verification_code %>
    <%= f.text_field :verification_code, autofocus: true %>
  </div>

  <%= f.submit %>
<% end %>
