package layouts

import (
	"github.com/a-h/templ"
	"github.com/mewstcom/mewst/internal/templates"
	"github.com/mewstcom/mewst/internal/templates/components"
	"github.com/mewstcom/mewst/internal/viewmodel"
)

// Simple はシンプルなレイアウトを提供する（ログインページ等で使用）
templ Simple(meta viewmodel.PageMeta, content templ.Component) {
	<!DOCTYPE html>
	<html lang={ templates.Locale(ctx) }>
		<head>
			@components.Head(meta)
		</head>

		<body class="min-h-screen flex items-center justify-center">
			@components.Flash()
			@content
		</body>
	</html>
}
