<%= form_with model: @verification_attempt, url: sign_up_verification_attempt_list_path do |f| %>
  <div>
    <%= f.label :confirmation_code %>
    <%= f.text_field :confirmation_code, autofocus: true %>
  </div>

  <%= f.submit %>
<% end %>
