<div
  aria-hidden="true"
  aria-labelledby="post"
  class="c-post-modal modal"
  data-controller="post-modal"
  id="postModal"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render Forms::PostFormComponent.new(from_modal: true) %>
      </div>
    </div>
  </div>
</div>
