---
openapi: 3.0.3
info:
  description: Mewst's internal REST API.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  title: Mewst API (internal)
  version: 0.0.0
servers:
  - description: Production server
    url: https://api.mewst.com/internal
  - description: Development server
    url: http://localhost:3000/internal
paths:
  "/@{atname}/posts":
    get:
      description: ""
      parameters:
        - "$ref": "#/components/parameters/atname"
        - "$ref": "#/components/parameters/pagination-after"
        - "$ref": "#/components/parameters/pagination-before"
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  profile:
                    "$ref": "#/components/schemas/latest_profile"
                  posts:
                    items:
                      "$ref": "#/components/schemas/post"
                    type: array
                  page_info:
                    "$ref": "#/components/schemas/page-info"
          description: Response
      summary: Get profile and posts
      tags:
        - posts
  "/email_confirmations":
    post:
      description: ""
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ""
              required:
                - email
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  email_confirmation:
                    "$ref": "#/components/schemas/email-confirmation"
          description: Response
        '422':
          "$ref": "#/components/responses/validation_failed"
      summary: ""
      tags:
        - email_confirmations
  "/email_confirmations/{email_confirmation_id}":
    get:
      description: ""
      parameters:
        - "$ref": "#/components/parameters/email-confirmation-id"
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  email_confirmation:
                    "$ref": "#/components/schemas/email-confirmation"
                type: object
          description: Response
        '404':
          "$ref": "#/components/responses/not_found"
      summary: ""
      tags:
        - email_confirmations
  "/email_confirmations/{email_confirmation_id}/challenge":
    post:
      description: ""
      parameters:
        - "$ref": "#/components/parameters/email-confirmation-id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirmation_code:
                  type: string
                  description: ""
              required:
                - confirmation_code
      responses:
        '204':
          description: Response
        '422':
          "$ref": "#/components/responses/validation_failed"
      summary: ""
      tags:
        - email_confirmations
  "/accounts":
    post:
      description: ""
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                atname:
                  type: string
                  description: ""
                email:
                  type: string
                  description: ""
                locale:
                  type: string
                  description: ""
                password:
                  type: string
                  description: ""
              required:
                - atname
                - email
                - locale
                - password
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  account:
                    "$ref": "#/components/schemas/account"
          description: Response
        '422':
          "$ref": "#/components/responses/validation_failed"
      summary: ""
      tags:
        - accounts
  "/sessions":
    post:
      description: ""
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ""
                password:
                  type: string
                  description: ""
              required:
                - email
                - password
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  account:
                    "$ref": "#/components/schemas/account"
          description: Response
        '422':
          "$ref": "#/components/responses/validation_failed"
      summary: ""
      tags:
        - sessions
components:
  parameters:
    atname:
      description: The handle for the Mewst account profile.
      in: path
      name: atname
      required: true
      schema:
        type: string
    pagination-after:
      description: ""
      in: query
      name: after
      required: false
      schema:
        type: string
    pagination-before:
      description: ""
      in: query
      name: before
      required: false
      schema:
        type: string
    email-confirmation-id:
      name: email_confirmation_id
      description: ""
      in: path
      required: true
      schema:
        type: string
  responses:
    not_found:
      description: ""
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              errors:
                items:
                  "$ref": "#/components/schemas/error"
                type: array
    validation_failed:
      description: ""
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              errors:
                items:
                  "$ref": "#/components/schemas/error"
                type: array
  schemas:
    account:
      additionalProperties: false
      title: Account
      description: ""
      type: object
      properties:
        oauth_access_token:
          "$ref": "#/components/schemas/oauth-access-token"
        profile:
          "$ref": "#/components/schemas/profile"
        user:
          "$ref": "#/components/schemas/user"
        actor:
          "$ref": "#/components/schemas/actor"
      required:
        - oauth_access_token
        - profile
        - user
        - actor
    actor:
      additionalProperties: false
      title: Actor
      description: ""
      type: object
      properties:
        id:
          type: string
      required:
        - id
    email-confirmation:
      additionalProperties: false
      title: Email Confirmation
      description: ""
      type: object
      properties:
        email:
          type: string
        id:
          type: string
        succeeded_at:
          nullable: true
          type: string
      required:
        - id
        - succeeded_at
    error:
      additionalProperties: false
      description: ""
      title: Error
      properties:
        message:
          type: string
      required:
        - message
      type: object
    latest_profile:
      additionalProperties: false
      description: ""
      properties:
        atname:
          type: string
        avatar_url:
          type: string
        description:
          type: string
        name:
          type: string
        viewer_has_followed:
          type: boolean
      required:
        - atname
        - avatar_url
        - description
        - name
        - viewer_has_followed
      title: Profile
      type: object
    oauth-access-token:
      additionalProperties: false
      title: OAuth Access Token
      description: ""
      type: object
      properties:
        token:
          type: string
      required:
        - token
    page-info:
      additionalProperties: false
      description: ""
      properties:
        end_cursor:
          type: string
          nullable: true
        has_next_page:
          type: boolean
        has_previous_page:
          type: boolean
        start_cursor:
          type: string
          nullable: true
      required:
        - end_cursor
        - has_next_page
        - has_previous_page
        - start_cursor
      title: Page Info
      type: object
    post:
      additionalProperties: false
      title: Post
      description: ""
      type: object
      properties:
        id:
          type: string
        comment:
          type: string
        profile:
          $ref: "#/components/schemas/profile"
        published_at:
          type: string
          format: date-time
        stamps_count:
          type: integer
        viewer_has_stamped:
          type: boolean
      required:
        - id
        - comment
        - profile
        - published_at
        - stamps_count
        - viewer_has_stamped
    profile:
      additionalProperties: false
      title: Profile
      description: ""
      type: object
      properties:
        atname:
          type: string
        avatar_url:
          type: string
        description:
          type: string
        id:
          type: string
        name:
          type: string
      required:
        - atname
        - avatar_url
        - description
        - id
        - name
    user:
      additionalProperties: false
      title: User
      description: ""
      type: object
      properties:
        id:
          type: string
        locale:
          type: string
      required:
        - id
        - locale
