<div class="flex items-center justify-between">
  <% if post.prev_post %>
    <div class="flex flex-col gap-2">
      <div class="text-gray-500 text-sm">
        <%= t("nouns.prev_post") %>
      </div>

      <%= render Cards::PostNavLinkCardComponent.new(post: post.prev_post) %>
    </div>
  <% end %>

  <% if post.next_post %>
    <%= render Cards::PostNavLinkCardComponent.new(post: post.next_post) %>
  <% end %>
</div>
