// Mewst variables

// Color system

$mst-mewst: #c026d3;

$mst-themes-light-map: (
  // TODO
);

$mst-themes-dark-map: (
  color-background: #262626,
  color-body: #e5e5e5,
  color-link-hover: #7c3aed,
  color-link: #8b5cf6,
  color-navbar-background: #404040,
  color-navbar-brand-link-hover: #ffffff,
  color-navbar-brand-link: #ffffff,
  color-navbar-link-hover: #ddd6fe,
  color-navbar-link: #f5f3ff,
);

// Navbar

$mst-navbar-height: 56px;
