// Mewst variables

// Color system

$mst-mewst: #c026d3;
$mst-twitter: #1da1f2;
$mst-reposted: #10b981;

$mst-theme-colors: (
  "twitter": $mst-twitter
);

$mst-dark-card-bg: #33363a;

// Navbar

$mst-navbar-height: 56px;
