<turbo-frame id="link-form">
  <div class="mb-2">
    <%= render Cards::LinkCardComponent.new(link: @link) %>

    <%= hidden_field_tag "post_form[canonical_url]", @link.canonical_url %>
  </div>
</turbo-frame>
