<turbo-frame id="link-form">
  <div class="mb-2">
    <div class="relative">
      <%= render Cards::LinkCardComponent.new(link: @link) %>

      <button
        class="btn btn-circle no-animation btn-xs absolute right-0 top-0 m-2 rounded-full"
        data-action="click->link-card-form#closeLinkForm"
      >
        <%= render Mewst::UI::Icon.new(name: "close_fill") %>
      </button>
    </div>

    <%= hidden_field_tag "post_form[canonical_url]", @link.canonical_url %>
  </div>
</turbo-frame>
