<div class="bg-base-100 hidden lg:block sticky top-0 z-50">
  <%= render Containers::BasicContainerComponent.new do %>
    <div class="flex items-center justify-between">
      <%= link_to root_path do %>
        <%= render Icons::LogoIconComponent.new(size: "36px") %>
      <% end %>

      <%= render NavbarMenuComponent.new %>
    </div>
  <% end %>
</div>
