<%= render Navbars::NavbarComponent.new %>

<div class="container py-3 u-flat u-narrow">
  <%= render Forms::PostFormComponent.new %>

  <div
    class="gap-3 js-timeline mt-3 vstack"
    data-controller="timeline"
  >
    <% @posts.each do |post| %>
      <%= render Cards::PostCardComponent.new(post:) %>
    <% end %>
  </div>
</div>
