<%= render Navbars::NavbarComponent.new %>

<div class="mt-3 container-fluid">
  <div class="gx-3 row">
    <div class="col-4">
    </div>

    <div class="col-4">
      <%= render Forms::PostFormComponent.new(post_creator: @post_creator) %>

      <div>
        <% @posts.each do |post| %>
          <div>
            <div>
              @<%= post.profile.idname %>
            </div>
            <%= post.content %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-4">
    </div>
  </div>
</div>
