<%= render Navbars::NavbarComponent.new %>

<div class="container">
  <%= render Forms::PostFormComponent.new(form: @form) %>

  <div>
    <% @posts.each do |post| %>
      <div>
        <div>
          @<%= post.profile.idname %>
        </div>
        <%= post.body %>
      </div>
    <% end %>
  </div>
</div>
