package components

import (
	"github.com/a-h/templ"
)

// Card はカードコンポーネントを表示する
templ Card(className string, content templ.Component) {
	<div class={ "card bg-base-100 shadow-xl " + className }>
		@content
	</div>
}

// CardBody はカードのボディを表示する
templ CardBody(content templ.Component) {
	<div class="card-body">
		@content
	</div>
}
