package components

// Head はHTMLヘッダーを生成する
templ Head(title, description, assetVersion string) {
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{ title } | Mewst</title>
	if description != "" {
		<meta name="description" content={ description }/>
	}
	<link rel="stylesheet" href={ "/static/css/app.css?v=" + assetVersion }/>
	<script src={ "/static/js/app.js?v=" + assetVersion } defer></script>
}
