package components

// Turnstile はCloudflare Turnstileウィジェットを表示する
templ Turnstile(siteKey string) {
	if siteKey != "" {
		<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
		<div
			class="cf-turnstile"
			data-sitekey={ siteKey }
		></div>
	}
}
