<div class="<%= class_names("modal-box", class_name) %>">
  <form method="dialog">
    <button class="absolute btn btn-circle btn-ghost btn-sm right-2 top-2">
      <i class="bi bi-x-lg"></i>
    </button>
  </form>

  <%= content %>
</div>
