<div class="flex flex-col min-h-[100svh]">
  <%= render Navbars::TopNavbarComponent.new %>

  <div class="flex-1">
    <%= content %>
  </div>

  <% if with_footer %>
    <%= render Footers::BasicFooterComponent.new %>
  <% end %>

  <%= render Navbars::BottomNavbarComponent.new %>
</div>
