<form
  class="c-entry-form"
  data-action="entry-form#submit:prevent"
  data-controller="entry-form"
  data-entry-form-timeline-outlet=".js-timeline"
>
  <textarea
    autofocus="true"
    class="form-control rounded-4"
    data-controller="autosize"
    data-entry-form-target="comment"
  ></textarea>

  <div class="mt-3 row">
    <div class="col-1"></div>

    <div class="col-10 text-center">
      <button
        class="btn btn-primary rounded-pill"
        data-entry-form-target="submitButton"
        type="submit"
      >
        <i class="bi bi-send mr-1"></i>
        <%= t("verbs.post") %>
      </button>
    </div>

    <div class="col-1">
      500 <%# TODO: Decrease char count %>
    </div>
  </div>
</form>
