<%= form_with method: :get, model: form, url: form_url do |f| %>
  <label class="flex gap-2 input input-bordered items-center rounded-full w-full">
    <%= render Mewst::UI::Icon.new(name: "search_line") %>
    <%= text_field_tag(:q, f.object.q, {
      autofocus: true,
      class: "grow",
      placeholder: t("nouns.search"),
      required: true
    }) %>
  </label>
<% end %>
