<form
  class="c-post-form"
  data-action="post-form#submit:prevent"
  data-controller="post-form"
  data-post-form-timeline-outlet=".js-timeline"
>
  <textarea
    autofocus="true"
    class="form-control"
    data-controller="autosize"
    data-post-form-target="content"
  ></textarea>

  <div class="gx-3 mt-2 row">
    <div class="col-6">
      <% if current_profile!.twitter_account&.can_cross_post? %>
        <div class="form-check">
          <%= tag.input(
            class: "form-check-input",
            checked: current_profile!.twitter_account.cross_post?,
            data: {
              post_form_target: "crossPostToTwitterCheckbox"
            },
            id: "crossPostToTwitterCheckbox",
            type: "checkbox"
          ) %>

          <label class="form-check-label" for="crossPostToTwitterCheckbox">
            <i class="bi bi-twitter text-twitter"></i>
          </label>
        </div>
      <% end %>
    </div>

    <div class="col-6 text-end">
      500 <%# TODO: Decrease char count %>
    </div>
  </div>

  <div class="text-center">
    <button
      class="btn btn-primary"
      data-post-form-target="submitButton"
      type="submit"
    >
      <i class="bi bi-send mr-1"></i>
      <%= t("verbs.post") %>
    </button>
  </div>
</form>
