<form
  class="c-post-form"
  data-action="post-form#submit:prevent"
  data-controller="post-form"
  data-post-form-timeline-outlet=".js-timeline"
>
  <textarea
    autofocus="true"
    class="form-control rounded-4"
    data-controller="autosize"
    data-post-form-target="content"
  ></textarea>

  <div class="gx-3 mt-2 row">
    <div class="col-12 text-end">
      500 <%# TODO: Decrease char count %>
    </div>
  </div>

  <div class="text-center">
    <button
      class="btn btn-primary rounded-pill"
      data-post-form-target="submitButton"
      type="submit"
    >
      <i class="bi bi-send mr-1"></i>
      <%= t("verbs.post") %>
    </button>
  </div>
</form>
