<form
  class="c-post-form"
  data-action="post-form#submit:prevent"
  data-controller="post-form"
  data-post-form-timeline-outlet=".c-timeline"
>
  <div class="mb-2">
    <textarea
      autofocus="true"
      class="form-control"
      data-controller="autosize"
      data-post-form-target="content"
    ></textarea>
  </div>

  <div class="text-center">
    <button
      class="btn btn-primary"
      data-post-form-target="submitButton"
      type="submit"
    >
      <i class="bi bi-send mr-1"></i>
      <%= t("verbs.post") %>
    </button>
  </div>
</form>
