<%= component_data_fetcher_tag("follow-button", internal_api_following_list_path, payload: { atnames: [@profile.atname] }) %>

<%= render Navbars::NavbarComponent.new %>

<h1>@<%= @profile.atname %></h1>

<% unless current_profile!.me?(target_profile: @profile) %>
  <%= render Buttons::FollowButtonComponent.new(target_profile: @profile) %>
<% end %>
