<div
  class="c-entry-options-dropdown u-cursor-pointer dropdown"
>
  <div class="dropdown-toggle" data-bs-toggle="dropdown">
    <i class="bi bi-three-dots-vertical"></i>

    <ul class="dropdown-menu">
      <% if signed_in? && policy(@entry).destroy? %>
        <li>
          <%= link_to t("verbs.delete"), entry_path(@entry.profile.atname, @entry.id), class: "dropdown-item", data: { confirm: t("messages.posts.are_you_sure_to_delete_post") }, method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
