<div
  class="c-post-options-dropdown u-cursor-pointer dropdown"
>
  <div class="dropdown-toggle" data-bs-toggle="dropdown">
    <i class="bi bi-three-dots fw-bold text-muted"></i>

    <ul class="dropdown-menu">
      <% if signed_in? && policy(@post).destroy? %>
        <li>
          <%= link_to t("verbs.delete"), post_path(@post.profile.atname, @post.id), class: "dropdown-item", data: { confirm: t("messages.posts.are_you_sure_to_delete_post") }, method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
