<% if signed_in? %>
  <div
    class="c-post-options-dropdown dropdown u-cursor-pointer u-hidden-caret"
  >
    <div class="dropdown-toggle" data-bs-toggle="dropdown">
      <i class="bi bi-three-dots fw-bold text-muted"></i>

      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <%= link_to t("verbs.delete"), post_path(@post.id),
            class: "dropdown-item",
            data: { confirm: t("messages.posts.are_you_sure_to_delete_post") },
            method: :delete
          %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
